@using Tracker.Models;

<h3>Order @Model["order"].Title Details</h3>

<h2>Title: @Model["order"].Title</h2>
<h2>Description: @Model["order"].Description</h2>
<h2>Total order price: @Model["order"].Price</h2>
<h2>Order date (MMDDYYYY): @Model["order"].Date</h2>
<h2>Vendor name: @Model["vendor"].Name</h2>




