@using Tracker.Models;
@{
    Layout = "_Layout";
}
<div class="container">
    <h3>Order @Model["order"].Title Details</h3>
    <h4>Title: @Model["order"].Title</h4>
    <h4>Description: @Model["order"].Description</h4>
    <h4>Total order price: @Model["order"].Price</h4>
    <h4>Order date (MMDDYYYY): @Model["order"].Date</h4>
    <h4>Vendor name: @Model["vendor"].Name</h4>
    <a href="/vendors/@Model["vendor"].Id">Go back to list of orders</a>
</div>